@use '../util/forwards' as *;

.cartItem {
  @include flexbox(flex, row, nowrap, center, center);
  border-bottom: 0.1rem solid #868686;
  max-width: 50rem;
  margin: 1rem auto;
  img {
    width: 20rem;
    margin-right: 1rem;
  }
}