@use '../util/forwards' as *;

.error-main {
  min-height: 60vh;
  background-color: $bg-main;
  @include flexbox(flex, column, nowrap, center, center);
  .error-section {
    .error-section-col {
      @include flexbox(flex, column, nowrap, center, center);
      h2 {
        font-size: 4rem;
        margin-bottom: 5rem;
        span {
          font-weight: bold;
        }
      }
      p {
        font-size: 2.5rem;
        text-align: justify;
        margin-bottom: 5rem;
        a {
          color: $main;
          font-weight: bold;
        }
      }
    }
  }
}