@use '../util/forwards' as *;

.ItemQuantitySelector-container{
  margin-top: 5rem;
  background-color: $bg-secondary;
  .ItemQuantitySelector-main-div{
    @include flexbox(flex, column, nowrap, center, flex-start);
    margin-top: 2rem;
    .main-div_countInput{
      @include flexbox(flex, row, nowrap, flex-start, center);
      .counter-form{
        padding: 1rem;
        min-width: 11rem;
        font-size: 2rem;
        text-align: center;
      }
      .counter-btn{
        padding: 1rem 2rem 1rem 2rem;
        color: $main;
        border: 0.1rem solid $main;
        font-size: 2rem;
        transition: all 0.5s ease;
        &:hover {
          color: $bg-secondary;
          background-color: $main;
        }
      }
    }
    .counter-addToCartBtn_container{
      .addToCartBtn-btn{
        margin-top: 2rem;
        padding: 1rem 2rem 1rem 2rem;
        color: $main;
        border: 0.1rem solid $main;
        font-size: 2rem;
        transition: all 0.5s ease;
        &:hover {
          color: $bg-secondary;
          background-color: $main;
        }
      }
    }
  }
  .checkout-btn {
    margin-top: 2rem;
    padding: 1rem 2rem 1rem 2rem;
    color: $main;
    border: 0.1rem solid $main;
    font-size: 2rem;
    text-decoration: none;
    transition: all 0.5s ease;
    &:hover {
      color: $bg-secondary;
      background-color: $main;
    }
  }
}