// Color palette:
$main: #131313;
$color-secundario: #a91fff;
$color-terciario: #ffdd33;
$color-cuaternario: #e0005a;
$color-quinario: #00bbe0;

// Background colors:
$bg-main: #fcfcfc;
$color-segundofondo: #f5f5f5;
$color-tercerfondo: #fc2066;

// Font sizes:
$mobile: 2rem;
$desktop: 4rem;
$desktop-sm: 3rem;