// Color palette:
$main: #131313;
$secondary: #a91fff;
$tertiary: #ffdd33;
$quaternary: #e0005a;
$quinary: #00bbe0;

// Background colors:
$bg-main: #fcfcfc;
$bg-secondary: #f5f5f5;
$bg-tertiary: #fc2066;

// Font sizes:
$mobile: 2rem;
$desktop: 4rem;
$desktop-sm: 3rem;